@import url("https://fonts.googleapis.com/css?family=Tienne|Viga&display=swap");

.section {
  background: transparent;
}

html,
body {
  font-family: "Viga", sans-serif;
  font-weight: normal;
  background-image: url("../img/stars.gif");
  background-repeat: no-repeat;
  background-image: cross-fade();
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}
.title {
  font-family: "Tienne", serif;
  font-weight: normal;
}

.modal-background {
  background: transparent;
}

.modal-card {
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.5), 0 18px 60px 0 rgba(0, 0, 0, 0.3);
}
